* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    background-color: #000;
    color: #00FF00; /* Neon Green */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('https://www.transparenttextures.com/patterns/dark-matter.png') repeat;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    width: 400px;
}

h1.hacker-title {
    font-size: 2.5em;
    color: #00FF00;
    text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00;
    margin-bottom: 20px;
}

.subheading {
    font-size: 1.2em;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 1.2em;
    color: #00FF00;
    background-color: #000;
    border: 2px solid #00FF00;
    border-radius: 5px;
    margin-bottom: 20px;
}

button.submit-btn {
    padding: 15px;
    background-color: #00FF00;
    color: #000;
    border: 1px solid #00FF00;
    font-size: 1.2em;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

button.submit-btn:hover {
    background-color: #00cc00;
    color: #000;
}

.result {
    font-size: 1.5em;
    margin-top: 20px;
    text-align: left;
    word-wrap: break-word;
}

.result .valid {
    color: green;
}

.result .invalid {
    color: red;
}

