* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    background-color: #0f0f0f;
    color: #00FF00; /* Neon Green */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('https://www.transparenttextures.com/patterns/dark-matter.png') repeat;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    width: 400px;
}

h1.header {
    font-size: 2.5em;
    color: #00FF00;
    text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00;
    margin-bottom: 20px;
}

.subheading {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ccc;
}

.form-container {
    margin-bottom: 20px;
}

button {
    padding: 15px;
    background-color: #00FF00;
    color: #000;
    border: none;
    font-size: 1.2em;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
}

button:hover {
    background-color: #00cc00;
}

#cardsList {
    margin-top: 20px;
}

.card-item {
    background-color: #333;
    color: #00FF00;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: left;
}

footer {
    font-size: 0.9em;
    color: #ccc;
    margin-top: 20px;
}
